{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}
{% block title %}Login{% endblock title %}
{% block main %}
<div class="d-flex flex-column justify-content-center align-items-center h-min-100 dotted-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 card py-5 px-5 d-flex flex-column gap-3">
                {% if user.is_authenticated %}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0;">You are already logged in.</p>
                    <p style="margin: 0;">Let's go back to <a href="{% url 'pages:index' %}">home</a>.</p>
                </div>
                {% else %}
                <h1>Login</h1>
                <form id="login-form" class="col-12 d-flex flex-column gap-3" method="post">
                    {% csrf_token %}
                    <input name="username" type="text" placeholder="Username/Email" class="simple-text-input">
                    <input name="password" type="password" placeholder="Password" class="simple-text-input">
                    <div class="col-auto mt-3 d-flex flex-row justify-content-center">
                        <a href="#" onclick="document.getElementById('login-form').submit();">Log me in</a>
                    </div>
                </form>
                <hr>
                <div class="col-auto d-flex flex-row justify-content-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="text-secondary">Reset password</a></li>
                            <li class="breadcrumb-item"><a href="#" class="text-secondary">Sign up</a></li>
                        </ol>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}