{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}
{% block title %}Sign up{% endblock title %}
{% block main %}
<div class="d-flex flex-column justify-content-center align-items-center h-min-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 py-5 px-5 d-flex flex-column gap-3">
                {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post"
                    class="d-flex flex-column justify-content-center align-items-center">
                    {% csrf_token %}
                    <p style="margin: 0;">You are already logged in.</p>
                    <p style="margin: 0;">You want to <a href="#"
                            onclick="document.getElementById('logout-form').submit();">logout</a>?</p>
                </form>
                {% else %}
                <h1 style="align-self: center;">Signup</h1>
                <div class="col-12">
                    {% if form.non_field_errors %}
                    <hr>
                    {% for error in form.non_field_errors %}
                    <p class="text-danger">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <form id="signup-form" class="col-12 d-flex flex-column gap-3" method="post">
                    {% csrf_token %}

                    <input required name="username" type="text" placeholder="Username" class="text-input">
                    {% for error in form.username.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}

                    <input required name="email" type="text" placeholder="Email" class="text-input">
                    {% for error in form.email.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}

                    <input required name="password1" type="password" placeholder="Password" class="text-input">
                    {% for error in form.password1.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}

                    <input required name="password2" type="password" placeholder="Repeat password" class="text-input">
                    {% for error in form.password2.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <div class="col-auto mt-3 d-flex flex-row justify-content-center">
                        <a href="#" class="text-uppercase" onclick="document.getElementById('signup-form').submit();">Sign up</a>
                    </div>
                </form>
                <hr>
                <div class="col-auto d-flex flex-row justify-content-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">You have an account? <a href="{% url 'login' %}"
                                    class="text-secondary">Login</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
