{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}
{% block title %}Chat now!{% endblock %}
{% block main %}
<div class="h-min-100 dotted-background">
    <div class="container d-flex flex-column h-min-100" id="chat-window">
        <div class="row">
            <div class="col-12 d-flex align-items-center" id="chat-navbar">
                <h1>minichat</h1>
                <p>Hello, {{ user.username }}</p>
            </div>
        </div>
        <div class="row d-flex flex-row flex-fill">
            <div class="col-lg-4 d-flex flex-column flex-fill" id="chat-list">
                <div class="flex-fill" id="chat-list-scroll">
                    {% for chat in user_active_chats %}
                    {% include 'chat/partial/chat-list-item.html' with chat=chat %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-end flex-fill" id="chat-box">
                {% block chat_box %}
                <p id="chat-box-empty">Please select a chat</p>
                {% endblock chat_box %}
            </div>
        </div>
    </div>
</div>

<!-- <script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script> -->
{% endblock main %}
