{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}
{% block title %}Chat now!{% endblock %}
{% block main %}
<div class="h-min-100 dotted-background">
    <div class="container d-flex flex-column h-min-100" id="chat-window">
        <div class="row">
            <div class="col-12 d-flex align-items-center" id="chat-navbar">
                <h1>minichat</h1>
                <p>Hello, {{ user.username }}</p>
            </div>
        </div>
        <div class="row d-flex flex-row flex-fill">
            <div class="col-lg-4 d-flex flex-column flex-fill" id="chat-list">
                <div class="flex-fill" id="chat-list-scroll">
                    <a href="#" class="d-flex flex-row align-items-center" id="chat-list-item">
                        <div class="">
                            <img src="https://i.natgeofe.com/k/ad9b542e-c4a0-4d0b-9147-da17121b4c98/MOmeow1_square.png"
                                alt="">
                        </div>
                        <div class="flex-fill mx-2">
                            <h3>Title</h3>
                            <p>Date: 2024-09-10 10:30 PM</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-end flex-fill" id="chat-box">
                <div class="d-flex flex-column" id="chat-messages-list">
                    <div class="d-flex flex-column" id="chat-sent-message">
                        <p id="body">Hey what's up?


                        </p>
                        <p id="date">12:23</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-sent-message">
                        <p id="body">Hey what's up?


                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda at a sed cumque necessitatibus soluta consequatur mollitia minus nostrum placeat! Consectetur hic atque nam, laudantium architecto harum perferendis natus quaerat!
                        </p>
                        <p id="date">12:23</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-received-message">
                        <p id="body">I'm doing fine.</p>
                        <p id="date">12:30</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-sent-message">
                        <p id="body">I'm doing fine.</p>
                        <p id="date">12:30</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-sent-message">
                        <p id="body">I'm doing fine.</p>
                        <p id="date">12:30</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-sent-message">
                        <p id="body">I'm doing fine.</p>
                        <p id="date">12:30</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-sent-message">
                        <p id="body">I'm doing fine.</p>
                        <p id="date">12:30</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-sent-message">
                        <p id="body">I'm doing fine.</p>
                        <p id="date">12:30</p>
                    </div>
                    <div class="d-flex flex-column" id="chat-received-message">
                        <p id="body">I'm doing fine. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor natus, porro magni deserunt vel optio nam voluptatem ducimus impedit architecto doloremque aliquid eum similique molestiae! Ut nihil ducimus possimus quam!
                        At cumque maxime officiis eos. Expedita necessitatibus velit delectus suscipit deleniti eius eum illo fugiat, sit error, amet dicta saepe adipisci corporis animi assumenda ea alias iste vel. Rem, quasi!</p>
                        <p id="date">12:30</p>
                    </div>
                </div>
                <div id="chat-input" class="row">
                    <div class="col-10 d-flex flex-row">
                        <input type="text" placeholder="Message..." class="flex-fill" id="chat-message-text-input">
                    </div>
                    <div class="col-2 d-flex flex-row justify-content-center align-items-center gap-2">
                        <a href="#">Send</a>/
                        <a href="#">File</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script> -->
{% endblock main %}
