{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}
{% block title %}Dashboard{% endblock %}
{% block main %}
<div class="container d-flex flex-column h-100-vh">
    <div id="chat-panel" class="row d-flex flex-fill">
        <div class="col-lg-4 d-flex flex-column">
            {% include 'chat/partial/aside.html' with last_messages=last_messages%}
        </div>
        <div id="chat-box-container" class="col-lg-8">
            {% include 'chat/partial/chat-box.html' %}
        </div>

    </div>
</div>
</div>
{% endblock main %}
{% block custom_scripts %}
<script>
    var chatBox = document.getElementById("chat-box");
    // Move scrollbar to buttom
    function moveChatBoxToButtom() {
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    moveChatBoxToButtom();
</script>
{% endblock custom_scripts %}
