{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}
{% block title %}Dashboard{% endblock %}
{% block main %}
<div class="container d-flex flex-column h-100-vh">
    <div id="chat-panel" class="row d-flex flex-fill">
        <div class="col-lg-4 d-flex flex-column">
            <div class="row">
                <div>
                    <div id="chat-search-box" class="col-12 d-flex align-items-center">
                        <input type="text" class="text-input flex-fill"><a href="#"><i class="bi bi-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <h3 id="chats-list-heading">Chats</h3>
                </div>
            </div>
            <div class="row d-flex flex-column flex-fill">
                <div class="d-flex flex-column flex-fill">
                    <div id="chat-list-container" class="col-12 d-flex flex-column">
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail" class="chat-thumbnail-online">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                        <div id="chat-list-item">
                            <span id="chat-thumbnail">A</span>
                            <div id="chat-detail" class="d-flex">
                                <h4>Alex</h4>
                                <p>Hey! What's up?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-box-container" class="col-lg-8">
            <div id="chat-box-navbar">
                <span id="chat-title">Jesse Pinkman</span>
                <span id="chat-status">online</span>
                <div id="chat-box-navbar-buttons">
                    <a href="#"><i class="bi bi-list"></i></a>
                </div>
            </div>
            <div id="chat-box">
                <div id="chat-text-message" class="sent">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
                <div id="chat-text-message" class="received">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
                <div id="chat-text-message" class="sent">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
                <div id="chat-text-message" class="received">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
                <div id="chat-text-message" class="sent">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
                <div id="chat-text-message" class="received">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
                <div id="chat-text-message" class="sent">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
                <div id="chat-text-message" class="received">
                    <p class="body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repellendus
                        dolorum quae neque? Cum excepturi rerum voluptates facere aut repellendus, quidem eveniet
                        recusandae aliquam harum odio eaque quasi obcaecati culpa!</p>
                    <span class="date">12:36</span>
                </div>
            </div>
            <div id="chat-box-input">
                <input type="text" name="chat-message-input" id="chat-message-input" placeholder="Message...">
                <a href="#" id="chat-input-button"><i class="bi bi-paperclip"></i></a>
                <a href="#" id="chat-input-button"><i class="bi bi-send-fill"></i></a>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock main %}
{% block custom_scripts %}
<script>
    var chatBox = document.getElementById("chat-box");
    // Move scrollbar to buttom
    function moveChatBoxToButtom() {
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    moveChatBoxToButtom();
</script>
{% endblock custom_scripts %}
