{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}minichat{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/htmx.js' %}"></script>
</head>

<body>

    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock navbar %}

    {% block main %}

    {% endblock main %}

    <script src="{% static 'js/bootstrap.js'%}">  </script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>

</html>
