<div class="d-flex flex-column" id="chat-messages-list">
    {% for message in chat_messages %}
    {% if message.is_sent %}
    <div class="d-flex flex-column" id="chat-sent-message">
        <p id="body">{{ message.body }}</p>
        <p id="date">{{ message.modified_at }}</p>
    </div>
    {% else %}
    <div class="d-flex flex-column" id="chat-received-message">
        <p id="body">{{ message.body }}</p>
        <p id="date">{{ message.modified_at }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div id="chat-input" class="row">
    <div class="col-10 d-flex flex-row">
        <input type="text" placeholder="Message..." class="flex-fill" id="chat-message-text-input">
    </div>
    <div class="col-2 d-flex flex-row justify-content-center align-items-center gap-2">
        <a href="#">Send</a>/
        <a href="#">File</a>
    </div>
</div>
