{% block chat_box %}
<div id="chat-box-navbar">
    <span id="chat-title">Jesse Pinkman</span>
    <span id="chat-status">online</span>
    <div id="chat-box-navbar-buttons">
        <a href="#"><i class="bi bi-list"></i></a>
    </div>
</div>
<div id="chat-box">
    {% for chat_message in chat_messages %}
    {% include 'chat/partial/text-message-bubble.html' with message=chat_message %}
    {% endfor %}
</div>
<div id="chat-box-input">
    <input type="text" name="chat-message-input" id="chat-message-input" placeholder="Message...">
    <a href="#" id="chat-input-button"><i class="bi bi-paperclip"></i></a>
    <a href="#" id="chat-input-button"><i class="bi bi-send-fill"></i></a>
</div>
{% endblock chat_box %}
{% block custom_scripts %}
<script>
    var chatBox = document.getElementById("chat-box");
    // Move scrollbar to bottom
    function moveChatBoxToBottom() {
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    moveChatBoxToBottom();
</script>
{% endblock custom_scripts %}
