{% if chat.type == 'P' %}
<a href="{% url 'chat:conversation' id=chat.id %}" class="d-flex flex-row align-items-center" id="chat-list-item">
    <div class="">
        <!-- To use images: -->
        <!-- <img src="" alt=""> -->
        <span>{{ chat.name|make_list|first}}</span>
    </div>
    <div class="flex-fill mx-2">
        <h3>{{ chat.name }}</h3>
        <p>
            {% if chat.last_modified_at %}
            {{ chat.last_modified_at }}
            {% else %}
            No messages yet...
            {% endif %}
        </p>
    </div>
</a>
{% else %}
Not ready to show group chats.
{% endif %}
