/*
Used palette: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
Primary color: https://coolors.co/palette/10451d-155d27-1a7431-208b3a-25a244-2dc653-4ad66d-6ede8a-92e6a7-b7efc5
Second color: https://coolors.co/palette/ffe0e9-ffc2d4-ff9ebb-ff7aa2-e05780-b9375e-8a2846-602437-522e38
*/

@font-face {
    font-family: Inter;
    src: url(../fonts/InterTight.ttf);
}

@font-face {
    font-family: SourceCode;
    src: url("../fonts/SourceCode.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Inter, 'Times New Roman', Times, serif;
}

p,
.font-regular {
    font-family: Inter, system-ui;
}

a,
.font-monospace {
    font-family: SourceCode, monospace;
    font-family: Inter, system-ui;

}


:root {
    --color-primary : #2dc653;
}

.button {
    border: 1px solid gray;
    border-radius: var(--bs-border-radius);
    padding: var(--button-padding-y) var(--button-padding-x);
    text-decoration: none;
    transition: all ease-in-out .05s;
}

.background-white {
    background-color: white;
}

.dotted-background {
    background-image: url(../svg/background-pattern.svg);
    background-repeat: repeat;
    background-size: 5px 5px;
}

.h-min-100 {
    min-height: 100vh;
}
