/* Used palette: https://colorhunt.co/palette/40a2e3fff6e9bbe2ec0d9276 */

@font-face {
    font-family: RobotoFlex;
    src: url(../fonts/RobotoFlex.ttf);
}

@font-face {
    font-family: SourceCode;
    src: url("../fonts/SourceCode.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: RobotoFlex, 'Times New Roman', Times, serif;
}

p {
    font-family: RobotoFlex, system-ui;
}

a,
.font-monospace {
    font-family: SourceCode, monospace;
}

:root {
    --primary: #FF6969;
    --primary-hover: #ffb4b4;
    --primary-darker: #662a2a;
    --primary-lighter: #ffe1e1;
    --second-primary: #21BF73;
    --second-primary-hover: #90dfb9;
    --second-primary-darker: #0a3922;
    --second-primary-lighter: #d3f2e3;
    --pale: #FFF6E9;
    --gray: #dee2e6;
    --gray-hover: #ced4da;
    --gray-darker: #495057;
    --gray-lighter: #e9ecef;

    /* Buttons */
    --button-padding-x: .5rem;
    --button-padding-y: .25rem;

    /* Custom sizes */
    --chat-nav-height: 2.5rem;
}

.button {
    border: 1px solid gray;
    border-radius: var(--bs-border-radius);
    padding: var(--button-padding-y) var(--button-padding-x);
    text-decoration: none;
    transition: all ease-in-out .05s;
}

.primary-button {
    background-color: var(--primary-lighter);
    color: var(--primary-darker);
    border-color: var(--primary);
}

.primary-button:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-darker);

}

.second-primary-button {
    background-color: var(--second-primary-lighter);
    color: var(--second-primary-darker);
    border-color: var(--second-primary);
}

.second-primary-button:hover {
    background-color: var(--second-primary-hover);
    border-color: var(--second-primary-darker);
}

.gray-button {
    background-color: var(--gray-lighter);
    color: var(--gray-darker);
    border-color: var(--gray-darker);
}

.gray-button:hover {
    background-color: var(--gray-hover);
    border-color: var(--gray-darker);
}

.simple-text-input {
    border-radius: var(--bs-border-radius);
    padding: var(--button-padding-y) var(--button-padding-x);
    text-decoration: none;
    transition: all ease-in-out .05s;
    border: 1px solid var(--gray-hover);
    outline: none;
    font-family: SourceCode, monospace;
}


#index-main {
    min-height: 100vh;
}

#chat-navbar {
    height: var(--chat-nav-height);
    background-color: white;
    border: 1px solid var(--gray-darker);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#chat-navbar>h1 {
    font-size: 1rem;
    font-weight: 900;
    color: var(--second-primary);
    margin: 0;
    padding: .5rem 0;
    text-transform: uppercase;
}

#chat-window {
    border: 1px solid var(--gray-darker);
    border-top: 0;
    border-bottom: 0;
}

#chat-list {
    border: 1px dashed var(--gray-darker);
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    background-color: white;
}

#chat-list-scroll {
    height: calc(100vh - var(--chat-nav-height));
    overflow-y: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    scrollbar-color: var(--gray) white;
    scrollbar-width: thin;
}

#chat-list-item {
    color: black;
    text-decoration: none;
    padding: 0.5rem 0;
    border: 1px solid var(--gray-lighter);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
    transition: all ease-in-out .1s;
}

#chat-list-item:hover {
    margin-left: 0.5rem;
}

#chat-list-item>div>img {
    width: 50px;
    height: 50px;
    clip-path: circle();
}

#chat-list-item>div>h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#chat-list-item>div>p {
    font-size: .75rem;
    font-family: SourceCode, monospace;
    margin: 0;
    padding: 0;
    color: #707070;
}

.background-white {
    background-color: white;
}

.dotted-background {
    background-image: url(../svg/background-pattern.svg);
    background-repeat: repeat;
    background-size: 5px 5px;
}

.h-min-100 {
    min-height: 100vh;
}
